
<form id="register-form" class="p-3">
	<div class="form-group row">
		<label for="identity" class="col-sm-12 col-md-4  col-form-label">Email</label>
    <div class="col-sm-12 col-md-8">
			<input type="email"
						 name="identity"
						 id="identity"
						 class="form-control"
						 placeholder="email@example.com"
						 value="">
	  </div>
	</div>
	<div class="form-group row">
		<label for="first-name" class="col-sm-12 col-md-4  col-form-label">First Name</label>
	  <div class="col-sm-12 col-md-8">
			<input type="text"
						 name="first-name"
						 id="first-name"
						 class="form-control"
						 placeholder="your first name"
						 value="">
	  </div>
	</div>
	<div class="form-group row">
		<label for="last-name" class="col-sm-12 col-md-4  col-form-label">Last Name</label>
    <div class="col-sm-12 col-md-8">
			<input type="text"
						 name="last-name"
						 id="last-name"
						 class="form-control"
						 placeholder="your last name"
						 value="">
	  </div>
	</div>
	<div class="form-group row">
		<label for="password" class="col-sm-12 col-md-4  col-form-label">Password</label>
    <div class="col-sm-12 col-md-8">
			<input type="password"
						 name="password"
						 id="password"
						 class="form-control"
						 placeholder="Password">
	  </div>
	</div>
	<div class="form-group row">
		<label for="password-confirm" class="col-sm-12 col-md-4  col-form-label">Confirm Password</label>
      <div class="col-sm-12 col-md-8">
				<input type="password"
							 name="confirm-password"
							 id="confirm-password"
							 class="form-control"
							 placeholder="Confirm Password">
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-12">
				<a routerLink="/dashboard" name="register-submit" id="register-submit" class="form-control btn btn-register">Signup Now</a>
			</div>
		</div>
	</div>
</form>
