#dashboard-container {
  height: 100%;
  background-image: url('/assets/ui/dashboard/dashboard-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
